input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.up_down_number {
	width: 28px;
	display: inline;
	padding-right: 10px;
	text-align: right;
}
.greyed * {
	color: #999 !important;
}
.float-toolbar {
	height: 36px;
	width: 100%;
	position: fixed;
	bottom: 32px;
	right: 0px;
}

.autocomplete-custom-template li {
	border-top: 1px solid #ccc;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: normal; }

.autocomplete-custom-template .item-title {
	display: block;
	line-height: 2; }
.autocomplete-custom-template .item-metadata {
	display: block;
	font-size:12px;
	color:grey;
	line-height: 2; }

.highlight {
	font-weight:bold;
}

.s12 {
	min-width:12px;
	min-height:12px;
	width:12px;
	height:12px;
}

.s18 {
	min-width:18px;
	min-height:18px;
	width:18px;
	height:18px;
	margin-bottom:4px;
}

.md-3-line h4 .s12 {
	margin-bottom:2px;
}

.books-list md-input-container {
	margin:4px 0px 0px 0px;
}