input[type='number'] {
    -moz-appearance:textfield !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
md-progress-linear.laxmi .md-bar {
    background-color:#388E3C;
}
.login-input {
	margin-left:6px;
	margin-right:6px;
}
.no-error .md-errors-spacer {
	display: none;
}
.report-bar {
	height:56px;
}
.progress-divider {
	border:0px;
}
.totals h2 {
	font-size:20px;
	font-weight:bold;
}
.group-header h3 {
	font-weight:500 !important;
}
.currency-dark {
	color:#81C784;
}
.currency {
	color:#388E3C;
}
.currency-light {
	color:#6ABF69;
}
.locked {
	background-color: #EEEEEE;
}
.persons h3 span {
	color:#AAAAAA;
	font-size:12px;
}
.persons h3 span md-icon {
	margin:0px 3px 3px 8px;;
}
.tooltip {
	display:block;
	font-size:12px;
	margin-top:2px;
	color:#666666;
}
.make-tools {
	margin:10px 2px 10px 0px;
}
.laxmi-list-item md-icon {
	margin-bottom:16px !important;
}
.empty-flag {
	padding-top:6px !important;
	margin-right:8px !important;
}
.no-hover-effect .md-button {
	background: none !important;
}
.md-button.md-small {
	min-width: 1%;
	margin:6px 0px;
}
.return-books-list {
	padding-bottom:0px;
}
.return-books-list .md-list-item {
	padding-right:6px;
}
.books-list {
	padding-bottom:0px;
}
.list-form {
	margin:0px;
}
.toolbar-subtitle {
	font-size:12px;
}
.book-list-num {
	margin-left:20px;
}
.nowrap, .nowrap p, .selected-book p, .operations .md-list-item-text p, .books-list p {
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.operation-icon {
	margin-right: 16px;
}
.Laxmi-input {
	padding:10px 40px 10px 9px !important;
}
.descr-textarea .md-errors-spacer {
	display:none;
}
.descr-textarea {
	margin-bottom:0px;
}
.datepick .md-datepicker-input-container {
	padding-left: 4px;
	margin-top:10px;
}
.datepick .md-datepicker-input {
	min-width: 100px;
}
.reportselect {
	min-width: 150px;
}
.lastdate {
	margin-top: 1px;
}
.lastdate span {
	margin: 0px 6px 0px 12px;
}
.datepick .md-datepicker-button {
	display: none;
}
.payed-input.md-icon-left {
	padding-left:20px;
}
.payed-input input {
	border-bottom-width:2px !important;
	border-bottom-style:solid !important;
}
.payed-input .md-errors-spacer {
	display:none;
}
.search-bar .md-errors-spacer {
	display:none;
}
.search-bar * { color: white !important; }
.md-toast.md-error-theme .md-toast-content {
	background-color: darkred;
}
a.md-button {
	display:flex;
}
.md-button.md-fab-bottom-right {
	top: auto;
	right: 10px !important;
	bottom: 10px !important;
	left: auto;
	position: fixed;
}
.up_down_number {
	width: 28px;
	display: inline;
	padding-right: 10px;
	text-align: right;
}
.highlighted {
	background-color:red;
}
.price-button {
	font-size:20px;
	padding:6px 8px;
	margin:0px 0px 4px 0px !important;
	line-height:16px;
	min-height:16px;
	min-width:0px;
	height:30px;
}
.greyed * {
	color: #999 !important;
}
.grey-font {
	color: #CCC !important;
}
.float-toolbar {
	height: 36px;
	width: 100%;
	position: fixed;
	bottom: 32px;
	right: 0px;
}

.autocomplete-custom-template li {
	border-top: 1px solid #ccc;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: normal; }

.autocomplete-custom-template .item-title {
	display: block;
	line-height: 2; }
.autocomplete-custom-template .item-metadata {
	display: block;
	font-size:12px;
	color:grey;
	line-height: 2; }

.highlight {
	font-weight:bold;
}

.s12 {
	min-width:12px;
	min-height:12px;
	width:12px;
	height:12px;
}

.s18 {
	min-width:18px;
	min-height:18px;
	width:18px;
	height:18px;
	margin-bottom:4px;
}

.md-3-line h4 .s12 {
	margin-bottom:2px;
}

.books-list .md-input-container {
	margin:4px 0px 0px 0px;
}

.caption-top-align {
	vertical-align: super;
}