input[type='number'] {
    -moz-appearance:textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.up_down_number {
	width: 28px;
	display: inline;
	padding-right: 10px;
	text-align: right;
}